<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
                 <key>b_coin01</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>b_coin02</key>
            <dict>
                <key>frame</key>
                <string>{{24,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>b_coin03</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>b_coin04</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>b_coin05</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>b_coin06</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>b_coin07</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>b_coin08</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            
                 <key>s_coin01</key>
            <dict>
                <key>frame</key>
                <string>{{0,24},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>s_coin02</key>
            <dict>
                <key>frame</key>
                <string>{{24,24},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>s_coin03</key>
            <dict>
                <key>frame</key>
                <string>{{48,24},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>s_coin04</key>
            <dict>
                <key>frame</key>
                <string>{{72,24},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>s_coin05</key>
            <dict>
                <key>frame</key>
                <string>{{96,24},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>s_coin06</key>
            <dict>
                <key>frame</key>
                <string>{{120,24},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>s_coin07</key>
            <dict>
                <key>frame</key>
                <string>{{144,24},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>s_coin08</key>
            <dict>
                <key>frame</key>
                <string>{{168,24},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            
            
                 <key>g_coin01</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>g_coin02</key>
            <dict>
                <key>frame</key>
                <string>{{24,48},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>g_coin03</key>
            <dict>
                <key>frame</key>
                <string>{{48,48},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>g_coin04</key>
            <dict>
                <key>frame</key>
                <string>{{72,48},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>g_coin05</key>
            <dict>
                <key>frame</key>
                <string>{{96,48},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>g_coin06</key>
            <dict>
                <key>frame</key>
                <string>{{120,48},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>g_coin07</key>
            <dict>
                <key>frame</key>
                <string>{{144,48},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
                 <key>g_coin08</key>
            <dict>
                <key>frame</key>
                <string>{{168,48},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            
            
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>
